@font-face {
    font-family: pirate;
    src: url("KGNoRegretsSolid.ttf");
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img {
    min-height: 0;
    pointer-events: none;
}

.cardviewer {
    flex: 1 1 200px;
    display: inline-flex;
    flex-wrap: nowrap;
    overflow: visible;
    /* pointer-events: all; */
    justify-content: center;
    align-items: flex-end;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    position: relative;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    /* z-index: 2; */
    /* pointer-events: none; */
    /* filter: blur(20px); */
    background-color: black;
    transition: filter ease-in-out 0.5s;
    overflow: hidden;
    /* transform: scale(1.5); */
}

#renderCanvas:focus {
    outline: none;
}

.btn {
    /* flex: 1 1 auto; */
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em 0.5em;
    background-color: crimson;
    text-align: center;
    max-width: fit-content;
    max-height: fit-content;
    font-family: pirate;
    font-size: xx-large;
    color: white;
    cursor: pointer;
    outline: solid black 5px;
    border-radius: 10px;
}

.btn:hover {
    background-color: darkred;
}

.menubtn {
    font-size: 1em;
    color: darkslategrey;
    padding-right: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    /* or inline-flex */
}

.grid {
    display: grid;
}

.testgrid {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-columns: minmax(min-content, max-content);
    grid-auto-flow: row;
    /* justify-items: center; */
    /* align-items: center; */
    padding: 10px;
    grid-gap: 13px;
}

.boatcell {
    grid-column: 1 / span 3;
    /* justify-items: center; */
    /* align-items: center; */
}

.outline-2px {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.dummycell {
    /* justify-items: center; */
    /* width: 100px; */
    /* height: 100px */
}

.cellbtn {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
    padding: 5px;
    cursor: pointer;
}

.cellbtn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.actionbtn {
    /* flex: 1 1 auto; */
    margin: 10px 10px 0 10px;
    padding: 0 10px;
    background-color: #a10000;
    text-align: center;
    /* max-width: fit-content; */
    max-height: fit-content;
    font-family: pirate;
    font-size: xxx-large;
    color: white;
    cursor: pointer;
    outline: solid;
    outline-color: black;
    outline-width: 6px;
    border-radius: 10px;
    pointer-events: all;
    /* min-height: 60px; */
    line-height: 70px;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.actionbtn:hover {
    background-color: darkred;
    transition: background-color ease 0s;
}

.minimap {
    aspect-ratio: 1;
    height: 285px;
    object-fit: fill;
    display: block;
}

.cardcount {
    font-family: pirate;
    font-size: xxx-large;
    padding: 0 10px;
    font-weight: bolder;
}

.treasure {
    outline: solid rgba(0, 0, 0, 0.2) 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-top: -45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.treasure img {
    display: block;
    width: 45px;
    height: 45px;
}

.boat {
    /* width: 300px; */
    /* height: 107px; */
    width: 100%;
    min-height: 0px;
    min-width: 0px;
}

.buccaneer.icon {
    height: 64px;
}

.disabled {
    background-color: #acacac;
    color: #7a7a7a;
    pointer-events: none;
}

.disabled:hover {
    background-color: #acacac;
}

.layoutonly {
    pointer-events: none;
}

.clickable {
    pointer-events: auto;
}

#hudleft {
    flex: 0 0 400px;
    max-width: 600px;
    margin-left: 20px;
    outline: 6px black solid;
    border-radius: 10px;
}

.city {
    font-family: pirate;
    font-size: xxx-large;
    text-align: center;
}

.btnrules {
    /* outline: solid rgba(1, 1, 1, 0.2) 3px; */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    width: 70px;
    height: 70px;
    /* padding: 10px; */
    /* margin: 10px; */
}

.btnrules:hover img {
    transform: scale(1.1);
    transition: transform ease-in-out 0.2s;
}

#hudright {
    flex: 0 0 auto;
    /* max-width: 400px; */
    margin-right: 20px;
    /* background-color: #acacac; */
    overflow: hidden;
    outline: 6px black solid;
    border-radius: 10px;
    padding: 0;
}

.card {
    display: block;
    width: auto;
    height: auto;
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10%/7%;
    overflow: hidden;
    pointer-events: none;
}

.card2 {
    display: block;
    width: auto;
    height: auto;
    border-radius: 10%/7%;
    pointer-events: none;
}

.cardimg2 {
    /* position: absolute; */
    flex: 0 1 35px;
    overflow: visible;
    /* max-width: 100px; */
    min-width: 0px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* pointer-events: all; */
}

.noshadow {
    box-shadow: none;
}

.cardimg {
    /* position: absolute; */
    flex: 0 1 35px;
    overflow: visible;
    /* max-width: 100px; */
    min-width: 0px;
    height: 200px;
    /* pointer-events: all; */
}

.card img {
    width: 100%;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    border-radius: 10%/7%;
    overflow: hidden;
    /* object-fit: cover; */
}

#hudtop {
    /* padding: 2px 0px; */
    pointer-events: all;
    flex-direction: row;
    justify-content: center;
    font-family: pirate;
    font-size: xx-large;
    outline: solid black 3px;
}

.dbg1 {
    background-color: darkseagreen;
}

.dbg2 {
    background-color: coral;
}

.dbg3 {
    background-color: darkslategrey;
}

.dbg4 {
    background-color: honeydew;
}

.dbg5 {
    background-color: orange;
}

.settings:hover {
    color: gray;
}

#hudbottom {
    justify-content: center;
    margin-bottom: 20px;
}

#actionbtnwrapper {
    flex: 2 1;
    /* height: 300px; */
}

#actionbtnwrapper2 {
    flex: 1 1;
    justify-content: center;
    align-items: flex-end;
}

.uipane {
    /* flex: 0 0 400px;
    max-width: 600px; */
    margin: 20px;
    outline: 6px black solid;
    border-radius: 20px;
}

.uihorizontalscrollpanel {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    overflow-x: scroll;
    white-space: nowrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.05);
}

.uihorizontalscrollpanel::-webkit-scrollbar {
    width: 20px;
}

.uihorizontalscrollpanel::-webkit-scrollbar-track {
    background-color: transparent;
}

.uihorizontalscrollpanel::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.tradingtext {
    font-family: pirate;
    font-size: xx-large;
    text-align: center;
}

.tradingcardimg {
    margin: 10px;
    outline: solid rgba(0, 0, 0, 0.2) 3px;
    border-radius: 10%;
}

.tradingcard {
    display: inline-block;
    height: 100%;
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10%/7%;
    overflow: hidden;
    pointer-events: none;
}

.tradingboat {
    /* width: 100%; */
    height: 109px;
    min-height: 0px;
    min-width: 0px;
}

.tradingtreasure {
    outline: solid rgba(0, 0, 0, 0.2) 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 10px;
    /* margin-top: -45px; */
    /* overflow: hidden; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.tradingtreasure img {
    display: block;
    width: 45px;
    height: 45px;
}

@media only screen and (max-width: 1600px) {
    .actionbtn {
        font-size: x-large;
        text-align: center;
        outline-width: 3px;
    }
    .minimap {
        height: 200px;
    }
    #hudleft,
    #hudright {
        outline-width: 3px;
    }
    .buccaneer.icon {
        max-height: 32px;
    }
    .cardcount {
        font-size: x-large;
    }
    .treasure {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin-top: -25px;
    }
    .treasure img {
        width: 22px;
        height: 22px;
    }
    .boat {
        width: 150px;
        height: 54px;
    }
    .city {
        font-size: x-large;
    }
    .btn {
        font-size: large;
        border-radius: 5px;
        outline-width: 3px;
    }
    .cardimg {
        height: 100px;
    }
}

@media only screen and (max-width: 850px) {
    #buttons {
        flex-direction: column;
        align-items: stretch;
    }
    .buccaneer.icon {
        max-height: 32px;
    }
}

@media only screen and (max-width: 700px) {
    #actionbtnwrapper2 {
        justify-content: flex-end;
        margin-right: 10px;
    }
    #minimapwrapper {
        display: none;
    }
    #buttons {
        flex-direction: column;
        align-items: stretch;
    }
}

@media only screen and (max-width: 500px) {
    #actionbtnwrapper2 {
        justify-content: flex-end;
        margin-right: 10px;
    }
    #minimapwrapper {
        display: none;
    }
    #buttons {
        flex-direction: column;
        align-items: stretch;
    }
    .actionbtn {
        font-size: medium;
        text-align: center;
        outline-width: 3px;
        margin: 3px 0px 0 3px;
        padding: 0 3px;
    }
    #hudleft {
        margin-left: 10px;
        outline-width: 3px;
    }
    #hudright {
        outline-width: 3px;
    }
    #hudbottom {
        margin-bottom: 10px;
    }
    .buccaneer.icon {
        max-height: 32px;
    }
    .cardcount {
        font-size: large;
    }
    .treasure {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin-top: -25px;
    }
    .treasure img {
        width: 22px;
        height: 22px;
    }
    .boat {
        width: 150px;
        height: 54px;
    }
    .city {
        font-size: x-large;
    }
    .btn {
        font-size: medium;
        border-radius: 5px;
        outline-width: 3px;
    }
}


/* @media only screen and (max-width: 1200px) {
    .actionbtn {
        font-size: large;
        text-align: center;
    }
    .minimap {
        height: 150px;
    }
} */


/*============================ TRADE ============================*/

.tradebtn {
    border-radius: 10px;
    font-family: pirate;
    font-size: x-large;
    font-weight: bolder;
    padding: 20px;
    margin: 20px;
}


/*============================ VIEW CONTROLS ============================*/

.cameralocktoggleon {
    box-shadow: 0px 0px 0px 4px white;
}